.container {
  margin: 3em 0.5em;

  .header {
    text-align: center;
  }
  
  .buttonDiv {
    display: flex;
    justify-content: center;

    .buttonStyle {
      border: none;
      background: #449000;
      padding: 0.5em 1em;
      margin: 0.5em;
      font-size: 1.1em;
      color: #fff;
      border-radius: 0.25em;
      cursor: pointer;
    }

    .buttonStyle:disabled {
      opacity: 0.6;
    }
  }
}
