.buttonDiv {
  display: flex;
  justify-content: center;

  .buttonStyle {
    border: none;
    background: #b600bb;
    padding: 0.5em 1em;
    margin: 0.5em;
    font-size: 1.1em;
    color: #fff;
    border-radius: 0.25em;
    cursor: pointer;
  }

  .buttonStyle:disabled {
    opacity: 0.6;
    color: #ccc;
    cursor: not-allowed;
  }
}
